.button {
  padding: 10px 30px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: var(--button-text);
  background: var(--button-background);
  height: 37px;
  width: 280px;
  border-radius: 8px;
}
