<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500</title>
    <link rel="stylesheet" href="~/src/index.scss">
</head>
<body>
<div class="app">
    <div class="block-center">
        <p class="text fs40px">500</p>
        <p class="text fs20px">Мы уже фиксим</p>
        <a href="#">Назад к чатам</a>
    </div>
</div>
</body>
</html>
