<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<div>
    <p>Вход</p>
    {{> input placeholder="Логин"}}
    {{> input placeholder="Пароль"}}
    {{> button title="Авторизоваться"}}
    <a href="#">Нет аккаунта?</a>
</div>
</body>
</html>
