<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="~/src/index.scss">
</head>
<body>
Имена полей для изменения информации о пользователе: first_name, second_name, display_name, login, email, phone;
Поле для изменения аватара: avatar;
Поля для изменения пароля: oldPassword, newPassword.
</body>
</html>
