<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin Page</title>
</head>
<body>
<div>
    <p>Регистрация</p>
    {{> input placeholder="Почта" }}
    {{> input placeholder="Логин" }}
    {{> input placeholder="Имя" }}
    {{> input placeholder="Фамилия" }}
    {{> input placeholder="Телефон" }}
    {{> input placeholder="Пароль" }}
    {{> input placeholder="Пароль (еще раз)" }}
    {{> button title="Зарегистрироваться" }}
    <a href="#">Войти</a>
</div>
</body>
</html>
