.messenger {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 10px 30px;
}

.messenger-messages {
  display: flex;
  flex-direction: column;
}

.messenger-footer {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-top: auto;
}

.messenger-footer input {
  width: 100%;
  border-radius: 0;
}

.messenger-footer button {
  margin-left: auto;
}
