<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Links page</title>
</head>
<body>
<p><a href="./pages/login.hbs">Login</a></p>
<p><a href="./pages/signin.hbs">Signin</a></p>
</body>
</html>
