:root {
  --button-text: #fff;
  --button-background: #3369f3;
  --light-grey-border: #eaeaea;
  --light-grey-background: #fbfbfb;
  --norm-grey-background: #efefef;
  --text-comfort-color: #1e1e1e;
  --text-error-color: #ff2f2f;
  --current-chat-background: #e4edfd;
  --selected-chat-background: #cddfff;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font: 13px/1.5 Inter, sans-serif;
}

#app {
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  margin: auto;
  background: #fff;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 #00000024;
}

.form > * {
  margin: 10px;
}

.underlined {
  border-bottom: 1px solid #3369f3;
}

.text {
  color: #1e1e1e;
}

.fs40px {
  font-size: 40px;
}

.fs20px {
  font-size: 20px;
}

.block-center {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
